<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="width: 20%;">Type</th>
                    <th scope="col">StartDate</th>
                    <th scope="col">EndDate</th>
                    <th scope="col">Days</th>
                    <th scope="col">Hours</th>
                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let vacation of vacationsList | async ">
                    <td class=" align-middle">{{ vacation.id }}</td>
                    <td class="align-middle capitalize"><b>{{ vacationType[vacation.vacationType] }}</b></td>
                    <td class="align-middle">{{ vacation.vacationStartDate | date: 'dd/MM/yyyy' }}</td>
                    <td class="align-middle">{{ vacation.vacationEndDate | date: 'dd/MM/yyyy' }}</td>
                    <td class="align-middle">{{ vacation.totalDuration.days }}</td>
                    <td class="align-middle">{{ vacation.totalDuration.hours}}</td>
                    <td>
                        <button mat-icon-button matTooltip="Click to Delete" (click)="deleteVacation(vacation.id)" class="delete" color="warn">
                            <mat-icon aria-label="Delete">delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>